<head>
	<title>ff data</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css">
	<script type="text/javascript" src="/static/js/d3.min.js"></script>
	<script type="text/javascript" src="/static/js/materialize.min.js"></script>
	
</head>

<nav>
  <div class="nav-wrapper indigo">
    <a class="brand-logo" href="/">ff data</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li id ="dviewLink"><a href="/targets">Targets</a></li>
  </div>
</nav>

{% block body %}{% endblock %}